MYSQL_ROOT_PASSWORD=
MSSQL_SA_PASSWORD=
MSSQL_DATABASE=account_tong
WEB_TITLE="JX Server"
MANAGER_DEFAULT_USER=admin
MANAGER_DEFAULT_PASSWORD=admin123
MANAGER_SECRET_KEY=change-me
PUBLIC_SECRET_KEY=change-me-too
JXNATIVE_UPDATE_REPOSITORY=Shidaichiacc/QuanLy_One
