[Unit]
Description=jxs3relay
After=network.target jxrelaypay.service
[Service]
Type=simple
WorkingDirectory=/opt/QuanLy_One/JX_Servers/Active/gateway/s3relay
ExecStart=/opt/QuanLy_One/JX_Servers/Runtime/s3relay-pty-wrapper
Restart=always
RestartSec=3
LogNamespace=jxnative
[Install]
WantedBy=multi-user.target
